    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .menuMail{
    background-color: #d5d5d5;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.imageHangHim{
  width: 300;
  height: 400;
}