/* All Pages */
.title {
  font-family: cursive;
}
.center {
  text-align: center;
  
}

.boxBody{
  background-color:rgb(255, 244, 224);
}

/* Welcome Page */

.menu{
  background-color:rgb(167, 107, 63);
  display: block;
  margin-left: 25%;
  margin-right:   25%;
  color: black;
  border-radius: 10px;
}

.imageWelcome{
  width: 40%;
  height: 40%;
  text-align: center;
}

.menu .boxInput{
  position: relative;
  margin-top:10px;
  margin-bottom: 10px;
}

.boxInput label{
  margin-left: 100px;
}

.boxInput select{
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-left: 100px;
  width: 30%;
}

.menu .boxInput input{
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  margin-left: 100px;
  width: 30%;
}


/* Game Page */

.imageHangHim{
width: 50%;
height: 50%;
border-radius: 5px;
}

.menuGame{
  background-color:rgb(167, 107, 63);
  display: block;
  margin-left: 25%;
  margin-right:   25%;
  color: black;
  border-radius: 10px;
}