    .centerText {
    text-align: center;
  }

  .title {
    font-family: cursive;
  }

  .menuMail{
    background-color:rgb(167, 107, 63);
    display: block;
    text-align: center;
    margin-left: 25%;
    margin-right:   25%;
    color: black;
  }

.imageHangHim{
  width: 300px;
  height: 400px;
}

.imageWelcome{
    width: 200px;
    height: 200px;
}

.scorePosition{
  position: absolute;
  top: 20%;
  left: 80%;
  
}

.box{
    background-color:rgb(255, 244, 224);
}

